.perfume-item {
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;

  }
  .perfume-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .perfume-image {
    align-content: center;
    width: 100%;
    max-width: 200%;
    height: auto;
    border-radius: 5px;
  }
  .perfume-text{
    font-family:'Times New Roman', Times, serif;
    font-style: bold;
    font-size:x-large;
  }
  .perfume-item:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #a382b4;
    border-radius: 5px;
  }